<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{105,112}</string>
                <key>textureRect</key>
                <string>{{1,599},{105,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{105,112}</string>
                <key>textureRect</key>
                <string>{{762,525},{105,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{456,525},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{609,525},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{108,648},{122,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{869,525},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{869,569},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{249,599},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{232,648},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{276,675},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{320,675},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{364,675},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{408,675},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{295,72}</string>
                <key>spriteSourceSize</key>
                <string>{303,80}</string>
                <key>textureRect</key>
                <string>{{1,525},{295,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,910}</string>
                <key>spriteSourceSize</key>
                <string>{522,910}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,910}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{298,525},{156,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sudu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{762,637},{122,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiayige.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{139,47}</string>
                <key>spriteSourceSize</key>
                <string>{141,47}</string>
                <key>textureRect</key>
                <string>{{108,599},{139,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas1.png</string>
            <key>size</key>
            <string>{912,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8800b07e5c33e7b387f94d3d010f16f3:e1717a16ac03a234677e6e63592a4800:19817690aca3d3703faa8e7c8e4b8d6d$</string>
            <key>textureFileName</key>
            <string>atlas1.png</string>
        </dict>
    </dict>
</plist>
